.about-section {
    padding: 50px;
    text-align: center;
    background-color: #f4ecf7;
    color: black;
    margin-top: 10%;
  }

  
  .cool
  {
    padding-left: 90px;
    padding-right: 100px;
    text-align: center;
  }
  